# stildeeneca17 — Global Git Config
[user]
	name = julianmendez02
	email = # YOUR_EMAIL_HERE
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Dracula
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
